@model basic_html_css.Models.ViewModels.TaskViewModel
<div>
    <h2>Form Task</h2>
    <form action="@Url.Content("~/Home/TaskPost")" method="post">
        <div class="form-input">
            <span>Task</span>
            @Html.HiddenFor(n=>n.Id)            
            @Html.EditorFor(m => m.Name, new { @placeholder = "Name", required = "required" })            
        </div>
        <div class="form-input">
            <span>Jenis Task</span>
            <select id="JenisTask" name="JenisTask">
                        <option value="0">Todo                        
                        </option>
                        <option value="1">Memo</option>
                        <option value="2">Information</option>
                    </select>
        </div>
        <div class="form-input">
            <span>Deskripsi</span>
            @Html.TextAreaFor(m => m.Deskripsi)
            
        </div>
        <div class="form-input">
            <span>Publish</span>
            @Html.CheckBoxFor(m => m.Publish)
        </div>
        <div class="form-input">
            <span>Effort Task</span>            
            @Html.TextBoxFor(m => m.EffortTask, new { type = "number",@placeholder = "Effort Task" , required = "required"})


        </div>
        <div class="form-input">
            <div class="col-2"><input type="submit" class="button button-success" value="Save"/></div>
            <div class="col-2"><input type="button" class="button" value="Batal"/></div>
        </div>
        <h2 style="color:green">@Model.Message</h2>
    </form>
</div>

    <table style="width:100%"> 
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        @foreach(var i in Model.List)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td><a href="/Home/EditTask/?id=@i.Id">Edit</a>
                    <a href="/Home/DeleteTask/?id=@i.Id">Delete</a></td>
            </tr>
        }
        
    </table>